@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

*
{
    box-sizing:border-box;

}


body{
    margin:0;
    padding:0;
}


.know_less
{
    display:none;
}




.menu
{
    background-image:url("../images/background__image.jpg");
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    position:relative;
    opacity: 1;
    width:100%;
    height:100vh;
}

.menu > h1{

    position:absolute;
width:fit-content;
    left:100px;
    top:100px;
    color:#f5950e;
    font-family:  sans-serif;
    font-size: 5.3rem;
    font-weight: 700;
}

.menu .heading
{
    position:absolute;
    top:250px; 
    left:300px;
}
@media (max-width:1242px)
{

    .menu .heading
    {
        position:absolute;
        left:200px;
        top:300px;
        font-size: 4rem;
    }
    .menu >h1 
    {

    position:absolute;
        left:0;
        top:200px;
        font-size: 4rem;

    
}
}

/* menu bar containing div */
.option{
    

    padding-left: 400px;
    width:100vw;
    background-color:#343A40;
    position:fixed;
    margin: auto;
    z-index: 10;
}

.option ul>li
{
    list-style: none;
    display:inline-block;
}

.option ul >li a
{
 list-style: none;   
 display: inline-block;
 
 color:white;
 text-decoration: none;
 margin-right: 200px;
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 2em;
 font-weight: 550;
}

.option ul >li a:hover{
    
    box-shadow: 1px 2px 2px gray;
    color:grey;
    
}

/* menu bar containing div end */



/* about heading */

.about >h1{

    color:indigo;
    font-size: 4rem;
padding-top: 20px;
padding-bottom: 50px;
width:400px;
margin:auto;

}

/* introduction paragraph */

.about >p
{
    text-align: justify;

    width:80vw;
    font-family: 'Quattrocento', serif;
    padding:8px;
    margin:auto;
    font-size: 1.5rem;
    
}

/* .containing the images and paragraph */
.main
{
 
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;

    padding:15px;
}

.pic
{
    width:300px;
    flex:0 0 550px;

}

.pic img
{
    width:500px;
    border: 1px solid black;
    border-radius: 50px;;
}

.content h1{
    padding:0;
    margin:0;

    color:darkorchid;

    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content h1:hover
{
    text-decoration: blue;
}
.content p{
    width: 518px;
 text-align: justify;
 margin-top: 5px;
    font-size: 2rem;
}

.second_content
{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;

}

/* know more content */
.more
{
    display: none;
}
.content2 p{
    width: 518px;
 text-align: justify;
 font-family: 'Quattrocento', serif;
 margin-top: 5px;
    font-size: 2rem;
    padding-right: 30px;

    
}
.pic2 img{

    border-radius: 50px;

    width:467px;
    height:350px;
    
}

.know_more
{
    width:518px;
    height:100px;
}
.know_more button,.expand2{
    margin:auto;
    width:100px;
    height:40px;
    background-color: indigo;
    color:ivory;

    font-size: medium;

    font-family: 'Roboto Condensed', sans-serif;

    border-radius: 50px;

    cursor:pointer;
}

.expand2:hover
{
    color:indigo;
    background-color: ivory;
}
.know_more button:hover
{
    color:indigo;
    background-color: ivory;
}

.container
{
    display: flex;
  flex-wrap: wrap;
    background-color: #F5FDB0;
    border-radius: 5px;
}


.cards
{
 padding-left: 20px;
 margin-right: 80px;
width:300px;
display:flex;
flex-direction: column;
height:auto;
    /* border:3px solid blueviolet; */
    border-radius: 20px;
}

.cards img{
    width:inherit;
  border-radius: 20px;
    height:200px;
    margin-top: 30px;
}

.card_content {

    /* border:1px solid blueviolet; */
    padding:30px;
    width:inherit;
}

.card_content >h1
{
    font-size: 2rem;
    font-weight: 520;
    font-family: sans-serif;
    margin-top: 11px;
}

.card_content >p
{
 
    padding:5;
    
    text-align: justify;
    font-family: 'Quattrocento', serif;
    
       font-size: 1.5rem;
       font-family: serif;
       font-weight: 545;
}

.card_content >ul
{
    padding-left: 15px;
    margin-top: 7px;

}

.card_content >ul li{
    text-align: justify;
    line-height: 22px;
    font-size: 1.3rem;
}


.list
{
    display: none;
}



.card_content >ul button , .expand
{
    margin:auto;
    width:100px;
    height:40px;
    background-color: indigo;
    color:ivory;

    font-size: medium;

    font-family: 'Quattrocento', serif;

    border-radius: 50px;

    cursor:pointer; 
}

.card_content >ul button:hover{
 
    color:indigo;
    background-color: ivory;
}

.unexpand
{
    display:none;
}
.expand:hover
{
    color:indigo;
    background-color: ivory;
}

.small_desc
{
width:794px;
background-color: white;
height:700px;

padding:40px;
}

.small_desc >h1{
    font-size: 3.5rem;
    width:fit-content;
    background-color: burlywood;
    border-radius: 10px;
    color:indigo;
    margin:auto;
}

.small_desc >p
{
    width:fit-content;
    margin:auto;
    padding-top:50px;
    line-height: 45px;
    font-weight: 500;
    font-family: 'Quattrocento', serif;
    font-size: 2rem;
}


/* princing section */


.pricing{
    display: flex;
    flex-wrap: wrap;
}
.pricing >h1{

    color:indigo;
    font-size: 4rem;
padding-top: 20px;
padding-bottom: 0px;
width:700px;
margin:auto;
border-bottom: indigo 2px solid;
}


.para{
    display:flex;
    overflow: hidden;
}
.para >img
{
  margin: 15px 0 0 50px;
    border-radius: 50px;

    width:467px;
    height:350px;

}

.para >p{

    text-align: justify;

    line-height: 34px;
    width:fit-content;

    padding:20px 150px 100px 50px;
    margin:auto;
    font-size: 1.7rem;
}

.contact
{

    width:100%;
    height:60vh;
    padding-top: 50px;
    background:linear-gradient(to right,indigo,blue);
}

/*for icons*/
.icons
{
    width:100%;
    height:60vh;
    background:linear-gradient(to right,indigo,blue);
	margin:auto;


	position:relative;

}

.icons >h1{
    font-size: 3.8rem;
    width:fit-content;
    margin:auto;
	font-family: 'Merriweather', serif;
	/* display: inline-block; */
	color:white;
}
.icons >ul
{
    width:fit-content;
    margin:auto;
    padding-top: 50px;

}
.icons li
{
 list-style: none;
 margin:0 5px 0 5px;
 display:inline-block;


}
.social-icons li a i
{
font-size: 25px;
color:white;

margin:15px;
}



.social-icons li a i:hover
{
border-radius:100%;


box-shadow: 0px 0px 10px 15px rgba(182, 153, 153, 0.3);	
}

.contact{

    display: flex;
    width:400px;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    height:200px;
}

.contact >input{

    margin:auto;

}

.contact >p
{
    color:white;
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left:8px;
}

.contact >button{
   
    margin:auto;
    width:100px;
    height:90px;
    background-color: indigo;
    color:ivory;

    font-size: medium;

    font-family: 'Roboto Condensed', sans-serif;

    border-radius: 50px;

    cursor:pointer;
}


.contact >button:hover{
 
    color:indigo;
    background-color: ivory;
}

.icons >h2{

    font-size: 1.2rem;
    width:fit-content;
    position:absolute;
    right:100px;
	font-family: 'Merriweather', serif;
	/* display: inline-block; */
	color:white;

}